@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}